@use 'root.scss';

* { box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--color-bg-master);

  font-family: montserrat, sans-serif;
  color: var(--color-text-master);

  position: absolute;
  margin: 0;
}

a {
  color: var(--color-link);
  text-decoration: none;
  transition: var(--transition-link);

  &:hover{ color:var(--color-link-hover); }
  &:active{ color:var(--color-link); }
}

h1 {
  text-align: center;
  margin-bottom: .5em;
}

header {
  background-image: linear-gradient(315deg, var(--color-bg-header));
  border-bottom: var(--border-header);
  user-select: none;
  backdrop-filter: blur(4px);
  position: sticky;
  z-index: 1000;
  top: 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
  }

  .logo {
    width: 100%;
    max-width: 128px;
    margin-right:auto;
  }

  nav {
    display: flex;
    align-items: center;
    min-height: 48px;

    ul {
      display: inherit;
      gap: 10px;
      padding: 0;
      margin: 0;

      li {
        border-radius: var(--borderRadius-master);
        transition: var(--transition-master);
        list-style: none;
        display: inherit;
        align-items: center;
        position: relative;

        &:hover { background-color: var(--color-bg-header-button); }
        &:active { background-color: var(--color-bg-header-button-pressed); }

        a {
          display: inherit;
          align-items: center;
          font-size: 16px;
          font-weight: 400;
          color: var(--color-text-master);
          padding: 0 .5em;

          &:hover { text-decoration: none; }

          i {
            font-size: 18px;
            margin-right: 6px;
          }

          span { line-height: 30px; }
        }
      }
    }
  }

  .lang {
    width: 100%;
    max-width: 128px;
    margin-left: auto;
    position: relative;

    details {
      float: right;
      
      &[open] {
        summary {
          background-color: var(--color-bg-header-button);
          opacity: 1;
        }
      }

      summary {
        border-radius: var(--borderRadius-master);
        transition: var(--transition-master);
        list-style-type: none;
        cursor: pointer;
        padding: .2em .4em;

        opacity: .3;

        &:hover {
          background-color: var(--color-bg-header-button);
          opacity: 1;
        }
        &:active {
          background-color: var(--color-bg-header-button-pressed);
          opacity: 1;
        }
      }
  
      ul {
        display: flex;
        flex-direction: column;
        gap: .4em;

        background-image: linear-gradient(45deg, var(--color-bg-header));
        border: var(--border-header);
        border-radius: var(--borderRadius-master);
        transition: var(--transition-master);

        position: absolute;
        padding: .5em .7em;
        margin: .5em 0 0 0;
        right: 0;

        li {
          list-style: none;
        }
      }
    }

  }
}

.currentroot-home {
  header {
    nav {
      li:first-child a { color: var(--color-text-active); }
    
      li:first-child:after {
        content: '';
        width: 100%;
        min-height: 2px;
        background: var(--color-currentPageIndicator);
        position: absolute;
        bottom: calc(50% - 25px);
      }
    }
  }

  main { margin-top: 0; }
}

.currentroot-portfolio {
  header {
    nav {
      li:nth-child(2) a { color: var(--color-text-active); }
    
      li:nth-child(2):after {
        content: '';
        width: 100%;
        min-height: 2px;
        background: var(--color-currentPageIndicator);
        position: absolute;
        bottom: calc(50% - 25px);
      }
    }
  }
}

.currentroot-sponsor {
  header {
    nav {
      li:last-child a { color: var(--color-text-active); }

      li:last-child:after {
        content: '';
        width: 100%;
        min-height: 2px;
        background: var(--color-currentPageIndicator);
        position: absolute;
        bottom: calc(50% - 25px);
      }
    }
  }
}



main {
  margin: 2em 0;
}



.container {
  max-width: 1152px;
  padding: 0 1em;
  margin-left: auto;
  margin-right: auto;
}



.bio {
  background-color: rgb(38 38 38);
  background-image: radial-gradient(ellipse at top left, rgb(255 255 255 / 10%), transparent), radial-gradient(ellipse at bottom right, rgb(100 210 160 / 17%), transparent);
  border-bottom: var(--border-master);
  position: relative;
  overflow: hidden;

  .art {
    width: 100%;
    max-width: 512px;
    min-height: 100%;
    max-height: 100%;
    background-image: var(--profileHero);
    background-size: 100%, cover;
    background-position: bottom left;
    background-repeat: no-repeat;

    filter: saturate(50%) opacity(40%);
    pointer-events: none;

    position: absolute;
    bottom: 0; left: 0;
  }

  .avatar {
    width: 100%;
    max-width: 512px;
    min-height: 100%;
    max-height: 100%;
    background-image: var(--profileAvatar);
    background-size: 100%, cover;
    background-position: center right;
    background-repeat: no-repeat;

    filter: contrast(1.5) opacity(5%);
    pointer-events: none;

    position: absolute;
    top: 0; right: 0;
  }

  .container {
    position: relative;
    padding: 4em 1em;

    h1 {
      font-size: 3em;
      font-weight: 900;
      text-align: left;
      color: rgb(100 210 160);
      margin: 0;
    }

    p {
      font-size: 1.25em;
      color: var(--color-text-master);
      margin: 0;
    }

    ul{
      display: flex;
      gap: .3em;
      padding: 0;
      margin: .5em 0 0 -.3em;

      li {
        list-style: none;

        a { font-size: 2.5em; }
      }
    }
  }
}



.works {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0;
    margin: 0;

    li {
      min-width: calc(50% - 0.5em);
      height: 18em;
      display: flex;
      flex: auto;
      border-radius: var(--borderRadius-master);
      overflow: hidden;
      transition: var(--transition-master);
      user-select: none;
      list-style: none;
      position: relative;

      &:hover { filter: brightness(1.2); }
      &:active { filter: brightness(1); }

      &::before {
        content:"";
        width: 100%;
        height: 100%;
        background-color: #000;
        background-repeat: no-repeat;
        background-position: top left;
        opacity: 10%;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
      }

      &::after {
        content:"";
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border: var(--border-master);
        border-radius: var(--borderRadius-master);
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
      }

      a {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 15;
        top: 0;
        left: 0;
      }

      content {
        margin: auto 0 1em 1em;
        z-index: 5;

        h1 {
          font-size: 1.5em;
          font-weight: 700;
          text-align: left;

          span {
            background-color: var(--warning);
            border-radius: var(--borderRadius-master);
            font-weight: 600;
            color: var(--black);
            padding: 0 .3em;
          }
        }

        p {
          opacity: 80%;
          margin: 0;
        }
      }
    }
  }
}



footer {
  background-image: linear-gradient(45deg, var(--color-bg-header));
  border-top: var(--border-master);
  margin-top: auto;
}