:root{
  --white: rgb(255 255 255);
  --black: rgb(18 20 18);
  --danger: rgb(220 100 58);
  --warning: rgb(220 190 58);
  --confirmed: rgb(155 205 105);

  --color-bg-master: rgb(34 36 35);
  --color-bg-header: rgb(37 39 38 / 95%), rgba(40 42 41 / 95%);
  --color-bg-header-button: rgba(255 255 255 / 5%);
  --color-bg-header-button-pressed: rgba(255 255 255 / 10%);
  --color-currentPageIndicator: rgb(188 224 147);
  --color-text-master: rgb(220 235 225);
  --color-text-active: rgb(240 255 455);
  --color-link: rgb(64 208 128);
  --color-link-hover: rgb(64 238 146);

  --border-master: 1px solid rgb(255 255 255 / 8%);
  --border-header: 1px solid rgb(255 255 255 / 15%);

  --borderRadius-master: .2em;

  --profileAvatar: url(/assets/images/logo.svg);
  --profileHero: url(/assets/images/profile_hero.png);

  --transition-master: 200ms;
  --transition-link: 100ms;

  @media (prefers-color-scheme: dark) { }
}

.lang-content { display: none; }

.lang-content.active { display: block; }