.todo{
  width: 100%;
  background: var(--color-bg-todo);
  border: 1px solid var(--color-border-todo);
  border-radius: var(--borderRadius-master);
  display: flex;
  align-items: center;
  color: var(--color-text-todo);

  padding: 10px;

  i{ font-size: 48px; margin-right: 5px; }
  p{ font-size: 18px;}
}
