body{
  background: #282c34;
  color: rgb(171,178,191);
}
h1, h2{ color: rgb(224,108,117); }
p{ color: rgb(209,154,102); }
a{ color: rgb(86,182,194); }

code{
  background: rgba(0,0,0,.1);
  border-radius: 4px;
  padding: 0 4px 0 4px;
}
