<li data-category="artworks">
	<img src="/assets/images/thumbnails/codename-alyx.png" alt="Codename: Alyx">
	<div>
		<h2> Codename: Alyx </h2>
	</div>
	<a href="/portfolio/codename-alyx" aria-label="Download Artwork: Codename Alyx" title="Codename: Alyx"> </a>
</li>
<li data-category="artworks">
	<img src="/assets/images/thumbnails/twilight-c17.png" alt="Twilight C17">
	<div>
		<h2> Twilight C17 </h2>
	</div>
	<a href="/portfolio/twilight-c17" aria-label="Download Artwork: Twilight C17" title="Twilight C17"> </a>
</li>
<li data-category="artworks">
	<img src="/assets/images/thumbnails/horizon-calm-dawn.png" alt="Horizon Calm Dawn">
	<div>
		<h2> Horizon Calm Dawn </h2>
	</div>
	<a href="/portfolio/horizon-calm-dawn" aria-label="Download Artwork: Horizon Calm Dawn" title="Horizon Calm Dawn"> </a>
</li>
<li data-category="artworks">
	<img src="/assets/images/thumbnails/strange-movement.png" alt="Strange Movement">
	<div>
		<h2> Strange Movement </h2>
	</div>
	<a href="/portfolio/strange-movement" aria-label="Download Artwork: Strange Movement" title="Strange Movement"> </a>
</li>