<!-- <li data-category="level-development" class="wip">
	<img src="/assets/images/thumbnails/cottage.png" alt="Cottage">
	<div>
    	<h2> Cottage </h2>
	</div>
	<a href="/portfolio/cottage" aria-label="More about Hide & Seek Cottage" title="Cottage"> </a>
</li>
<li data-category="level-development" class="wip">
	<img src="/assets/images/thumbnails/minecraft-office.png" alt="Minecraft Office">
	<div>
		<h2> Minecraft Office </h2>
	</div>
	<a href="/portfolio/minecraft-office" aria-label="More about Minecraft Office" title="Minecraft Office"> </a>
</li> -->
<li data-category="level-development">
	<img src="/assets/images/thumbnails/minecraft-castle.png" alt="Minecraft Castle">
	<div>
	    <h2> Minecraft Castle </h2>
    </div>
	<a href="/portfolio/minecraft-castle" aria-label="More about Minecraft Castle" title="Minecraft Castle"> </a>
</li>
<li data-category="level-development">
    <img src="/assets/images/thumbnails/minecraft-dungeon.png" alt="Minecraft Dungeon">
	<div>
		<h2> Minecraft Dungeon </h2>
	</div>
	<a href="/portfolio/minecraft-dungeon" aria-label="More about Minecraft Dungeon" title="Minecraft Dungeon"> </a>
</li>
<li data-category="level-development">
    <img src="/assets/images/thumbnails/minecraft-india.png" alt="Minecraft India">
	<div>
		<h2> Minecraft India </h2>
	</div>
	<a href="/portfolio/minecraft-india" aria-label="More about Minecraft India" title="Minecraft India"> </a>
</li>
<li data-category="level-development">
    <img src="/assets/images/thumbnails/dust.png" alt="Dust">
	<div>
		<h2> Dust </h2>
	</div>
	<a href="/portfolio/dust" aria-label="More about Dust" title="Dust"> </a>
</li>