<li class="featured">
	<img src="/assets/images/thumbnails/minecraft-india-screenshot-1.webp" alt="Minecraft India">
	<a href="/assets/images/uploads/minecraft-india-screenshot-1.png" aria-label="View Screenshot 1 in full size" title="Screenshot 1"> </a>
</li>
<li>
	<img src="/assets/images/thumbnails/minecraft-india-screenshot-2.webp" alt="Minecraft India">
	<a href="/assets/images/uploads/minecraft-india-screenshot-2.png" aria-label="View Screenshot 2 in full size" title="Screenshot 2"> </a>
</li>
<li>
	<img src="/assets/images/thumbnails/minecraft-india-screenshot-3.webp" alt="Minecraft India">
	<a href="/assets/images/uploads/minecraft-india-screenshot-3.png" aria-label="View Screenshot 3 in full size" title="Screenshot 3"> </a>
</li>
<li>
	<img src="/assets/images/thumbnails/minecraft-india-screenshot-4.webp" alt="Minecraft India">
	<a href="/assets/images/uploads/minecraft-india-screenshot-4.png" aria-label="View Screenshot 4 in full size" title="Screenshot 4"> </a>
</li>
<li>
	<img src="/assets/images/thumbnails/minecraft-india-screenshot-5.webp" alt="Minecraft India">
	<a href="/assets/images/uploads/minecraft-india-screenshot-5.png" aria-label="View Screenshot 5 in full size" title="Screenshot 5"> </a>
</li>
<li>
	<img src="/assets/images/thumbnails/minecraft-india-screenshot-6.webp" alt="Minecraft India">
	<a href="/assets/images/uploads/minecraft-india-screenshot-6.png" aria-label="View Screenshot 6 in full size" title="Screenshot 6"> </a>
</li>
<li>
	<img src="/assets/images/thumbnails/minecraft-india-screenshot-7.webp" alt="Minecraft India">
	<a href="/assets/images/uploads/minecraft-india-screenshot-7.png" aria-label="View Screenshot 7 in full size" title="Screenshot 7"> </a>
</li>
