<li>
	<img src="/assets/images/thumbnails/minecraft-assets-screenshot-1.webp" alt="Minecraft Assets">
	<a href="/assets/images/uploads/minecraft-assets-screenshot-1.png" aria-label="View Screenshot 1 in full size" title="Screenshot 1"> </a>
</li>
<li>
	<img src="/assets/images/thumbnails/minecraft-assets-screenshot-2.webp" alt="Minecraft Assets">
	<a href="/assets/images/uploads/minecraft-assets-screenshot-2.png" aria-label="View Screenshot 2 in full size" title="Screenshot 2"> </a>
</li>
<li>
	<img src="/assets/images/thumbnails/minecraft-assets-screenshot-3.webp" alt="Minecraft Assets">
	<a href="/assets/images/uploads/minecraft-assets-screenshot-3.png" aria-label="View Screenshot 3 in full size" title="Screenshot 3"> </a>
</li>